<div>
  Eventos
</div>

<table >
  <tr>
    <th>Titulo</th>
    <th>Localizacao</th>
    <th>Data</th>
  </tr>
  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.title, event.url, :target => "_blank"  %></a></td>
      <td><%= event.location                           %></td>
      <td><%= event.date                             %></td>
    </tr>
  <% end %>
</table>

